

   <div class="profile" *ngIf="selectedUser$ | async as selectedUser">
    <div class="content">
      <div class="profilePic" [style.backgroundImage]="'url(' + selectedUser.avatar + ')'"></div>
      <h3>{{ selectedUser.first_name }} {{ selectedUser.last_name }}</h3>
      
      <h4><strong>Email :</strong> {{ selectedUser.email }}</h4>
      <h4><strong>ID :</strong>{{ selectedUser.id }} </h4>
      <div class="rates">
        <div class="box boxview">
          <div class="iconCon">
        
          </div>
        </div>
        <div class="box boxbuddy">
      
        </div>
      </div>
    </div> 
   
  </div>
  <div class="button-container">
    <button class="backButton" routerLink='/users/all-users' >Back</button>
  </div>